.form-container12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 3%;
  }
  
  .form12 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(45deg, red, yellow);
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: background 0.3s ease;
  }
  
  .form12:hover {
    background: linear-gradient(45deg, yellow, red);
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .form button12 {
    align-self: flex-end;
  }
  
  .flex-column12 > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm12 {
    border: 1.5px solid #ecedec;
    border-radius: 10em;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: white;
  }
  
  .input12 {
    margin-left: 10px;
    border-radius: 10rem;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .input12:focus {
    outline: none;
  }
  
  .inputForm12:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row12 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .flex-row12 > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span12 {
    font-size: 14px;
    margin-left: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit12 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid;
    border-radius: 10em;
    box-shadow: inset 0 0 0 0 red;
    margin: 20px 0 10px 0;
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit12:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 darkorange;
  }
  
  .button-submit12:active {
    transform: scale(0.9);
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .verification-status12 {
    color: green; /* Adjust as needed for success or error */
    font-weight: bold;
    text-align: center;
  }
  